@font-face {
    font-family: 'Helvetica Neue Bold';
    src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold'),
         url('./fonts/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue Bold';
    color: #000;
    overflow-x: hidden; 
    font-weight: 200; 
    background-color: #fff; 
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: transparent;
}

.background {
    position: absolute;
    width: 75%;
    height: 100%;
    overflow-y: scroll; 
    -ms-overflow-style: none;
    scrollbar-width: none; 
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

.background::-webkit-scrollbar {
    display: none;
}

.background img {
    display: block;
    width: 100%;
    height: auto;
    display: block;
}

.background ul {
    list-style-type: none;
    padding: 0;
}

.background li {
    margin: 0;
    text-align: center;
}

.captions {
    font-size: 28px;
    white-space: pre-wrap;
    visibility: hidden;
}

.left-sidebar {
    width: 25%;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    pointer-events: none;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.left-sidebar h1 {
    font-size: 20px;
    font-family: 'Helvetica Neue Bold';
    font-weight: bold;
    color: #fff; 
    background-color: #000; 
    padding: 10px; 
}

.left-sidebar ul {
    list-style-type: none;
    padding: 0;
    padding-left: 40px;
    margin-bottom: 50px;
}

.left-sidebar ul li {
    margin: 0px 0;
    padding: 0px 0;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Helvetica Neue Bold';
    font-weight: 200;
}

.right-sidebar {
    width: 25%;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.right-sidebar ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.right-sidebar ul li {
    margin: 2px 0;
    padding: 2px 0;
    cursor: pointer;
    font-family: 'Helvetica Neue Bold';
    font-weight: 200;
}

.right-sidebar img {
    max-width: 20%;
    border-radius: 4px;
    position: fixed;
    bottom: 10px;
    right: 15px;
}


a {
    color: black;
    text-decoration: none;
    pointer-events: auto;
}

.resume {
    line-height: 1.6;
    margin: 20px;
    width: 50%;
    padding-left: 25px;
}

.resume h1, h2, h3 {
    color: #333;
}
.resume p {
    margin-bottom: 10px;
}
.resume ul {
    margin-bottom: 20px;
    padding-left: 20px;
}
.contact-info {
    line-height: 1.6;
    margin: 20px;
    margin-bottom: 20px;
}

.section-title {
    line-height: 1.6;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
}

.job-title {
    margin: 20px;
    font-weight: bold;
}
.job-details {
    margin: 20px;
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .left-sidebar {
        width: 50%;
        padding: 10px;
        order: 1;
    }

    .right-sidebar {
        width: 50%;
        padding: 10px;
        order: 2;
    }

    .resume {
        width: 92%;
        line-height: 1.6;
        margin: 20px;
        align-content: center;
    }
}